.modallabels {
    width: inherit;
    background-color: rgba(55, 1, 1, 0.727);
    color: white;
}
.divider {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: space-between;
    width: inherit;
    padding: 20px;
}