.container {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 600px;
    height: inherit;
    background: #9c9c9c;
    word-break: break-all;
    border: 1px solid rgba(0, 0, 0, 0.274);
  }
  
  .bloc-tabs {
    display: flex;
    justify-content: space-between;
  }
  
  .tabs {
    padding: 15px;
    text-align: center;
    width: 100%;
    background: rgb(0, 26, 66);
    color: white;
    border: 1px solid rgb(182, 179, 179);
  }
  
  .active-tabs  {
    background: rgb(0, 55, 255);
    border: 1px solid rgb(0, 55, 255);
  }
  
  .content-tabs {
    background: rgb(255, 255, 255);
    flex-grow : 1;
    height: 430px;
    overflow-y: auto;
  }