.outlined {
    background-color: rgba(0, 0, 0, 0);
    border-width: 1px;
    color: rgb(255, 0, 0);
    font-weight: bold;
    border-color: rgba(255, 0, 0, 0.5);
    min-width: 100px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
.outlined:hover {
    border-color: rgb(255, 0, 0);
    background-color: rgba(255, 255, 255, 0.5);
}

.contained {
    background-color: rgb(3, 156, 1);
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    min-width: 100px;
}
.contained:hover {
    background-color: rgb(8, 209, 4);
}

.simple {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-weight: bold;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    min-width: 100px;
}
.simple:hover {
    background-color: rgba(48, 48, 48, 0.437);
}