.main{
    background-color:rgba(246, 241, 241, 0.822);
    height:fit-content;
  }
  
  .formpart{
       
    background-color: white;
    display: grid;
    grid-template-columns: 50% 50%;
    min-height: 32rem;
    padding-left: 90px;
    padding-top: 40px;
    /* margin-left: 100px;
    margin-right: 100px; */
    /* margin-top:  100px; */
  }
  .selname{
    height: 45px;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
}
.smalldiv{
  padding-bottom: 1px;
}
.select {
  display: flex;
  flex-direction: column;
}
  