.centers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forms {
    background-color: lightgoldenrodyellow;
    width: 400px;
    align-items: center;
    padding: 40px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
}